apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: async-ingress
  namespace: async-doctor
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
    - http:
        paths:
          # API routed to server Service
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: server
                port:
                  number: 80
          # Front-end SPA
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 80
